@import "bootstrap/scss/bootstrap";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./assets/styles/input.scss";

* {
  box-sizing: border-box;
}

body {
  user-select: none;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
}

.form_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 22px 40px 50px 40px;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input_container {
  width: 22vw;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form.ng-submitted input.ng-invalid,
input.ng-touched.ng-invalid,
form.ng-submitted textarea.ng-invalid,
textarea.ng-touched.ng-invalid,
form.ng-submitted select.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid red;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
