.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  padding-right: 15px;
  padding-left: 15px;
}

.create-patient-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
}

.confirmation-number {
  color: #00aaff;
}

