.modal-blue-btn {
  background-color: #1fa7e2;
  color: white;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  padding: 6px 15px;
}
.modal-close-btn {
  background-color: #e8e8e8;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  padding: 6px 15px;
}
.common-btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #2e7d32;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.cancel-btn {
  background: #ffffff;
  color: #2e7d32;
  border: 1.5px solid #2e7d32;
}
.back-btn {
  width: 100%;
  height: 40px;
  border: 1.5px solid #00aaff;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #00aaff;
  cursor: pointer;
}
.logout-btn{
  
}