<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <app-button
      [routerLink]="['/user-selection']"
      label="Back"
      title="Back"
      type="button"
      className="my-3 ps-2 pe-3 common-btn"
      iconClass="bi bi-chevron-left"
    >
    </app-button>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="create-patient-heading">Create Patient Account</h3>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="patientInfoForm" (ngSubmit)="onSubmit()">
        <div class="patient-information">
          <h5>Patient Information</h5>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <app-alphabet-only-input
              label="First Name"
              controlName="firstName"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="First Name"
              type="text"
              errorTitle="First Name"
              testId="firstName"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-alphabet-only-input
              label="Last Name"
              controlName="lastName"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Last Name"
              type="text"
              errorTitle="Last Name"
              testId="firstName"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-input
              label="Email"
              controlName="email"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Email"
              type="email"
              errorTitle="Email"
              testId="email"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-input
              label="Password"
              controlName="password"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Password"
              type="text"
              errorTitle="Password"
              testId="password"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <app-phone-number-input
              label="Phone Number"
              errorTitle="Phone Number"
              placeholder="Phone Number"
              [parentForm]="patientInfoForm"
              controlName="phoneNumber"
              type="text"
              className="app-input"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-select
              label="Gender"
              [options]="genderOptions"
              controlName="gender"
              [parentForm]="patientInfoForm"
              placeholder="Select Gender"
              className="app-select"
              errorTitle="Gender"
            />
          </div>
        </div>

        <!-- Patient Location -->

        <div class="patient-location mt-4">
          <h5>Patient Location</h5>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <app-alphabet-only-input
              label="City"
              controlName="city"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="City"
              type="text"
              errorTitle="City"
              testId="City"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-input
              label="Zip"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Enter Zip"
              errorTitle="Zip"
              controlName="zip"
              class="w-100"
              [maxlength]="6"
            />
          </div>
          <div class="form-group col-md-12 mt-3">
            <app-textarea
              label="Address"
              placeholder="Address"
              controlName="address"
              [parentForm]="patientInfoForm"
              className="app-textarea title-description"
              errorTitle="Address"
              testId="address"
            />
          </div>
        </div>

        <!-- Other Details -->

        <div class="patient-location mt-4">
          <h5>Other Details</h5>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <app-select
              label="Blood Type"
              [options]="bloodTypeOptions"
              controlName="bloodTypeId"
              [parentForm]="patientInfoForm"
              placeholder="Select Blood Type"
              className="app-select"
              errorTitle="bloodType"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <label class="label--style">Document</label>
            <input
              type="file"
              (change)="handlePictureFileChange($event)"
              #photoInput
              id="photoInput"
              accept="image/*"
              class="app-input"
              formControlName="document"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-alphabet-only-input
              label="Emergency Contact Name"
              controlName="emergencyContactName"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Emergency Contact Name"
              type="text"
              errorTitle="Emergency Contact Name"
              testId="emergencyContactName"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <app-phone-number-input
              label="Emergency Contact Number"
              errorTitle="Emergency Contact Number"
              placeholder="Emergency Contact Number"
              [parentForm]="patientInfoForm"
              controlName="phoneNumber"
              type="text"
              className="app-input"
            />
          </div>
          <div class="form-group col-md-12 mt-3">
            <app-textarea
              label="Medical History"
              controlName="medicalHistory"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Medical History"
              type="text"
              errorTitle="Medical History"
              testId="medicalHistory"
            />
          </div>
          <div class="form-group col-md-12 mt-3">
            <app-textarea
              label="Allergies"
              controlName="allergies"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Allergies"
              type="text"
              errorTitle="Allergies"
              testId="allergies"
            />
          </div>
          <div class="form-group col-md-12 mt-3">
            <app-textarea
              label="Current Medications (Symptoms)"
              controlName="currentMedications"
              [parentForm]="patientInfoForm"
              className="app-input"
              placeholder="Current Medications"
              type="text"
              errorTitle="Current Medications"
              testId="currentMedications"
            />
          </div>
        </div>

        <div class="d-flex justify-content-end gap-3">
          <app-button
            label="Submit"
            title="Submit"
            type="Submit"
            className="mt-3 px-3 common-btn"
          >
          </app-button>
          <app-button
            [routerLink]="['/user-selection']"
            label="cancel"
            title="cancel"
            type="button"
            className="mt-3 px-3 cancel-btn common-btn"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
